name: etl job

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: run etl-script
        run: python github-actions/etl.py

      - name: run tests
        run: pytest github-actions/tests.py

      - name: install dbt
        run: pip install dbt-postgres

      - name: run dbt model
        run: dbt run

      - name: test dbt-model
        run: dbt test
